<!DOCTYPE html>
<html>
    <head>
        <title>New Character</title>
    </head>
    <body>
        <h1>New Character</h1>

        <form id="new character" method="POST" action="http://localhost:5000/newcharacter">
            <input type="submit">

            <div id="name">
                <h3>Name</h3>
                <input type="text" id="name input" form="new character" name="name" required>
            </div>

            <div id="race">
                <h2>Race</h2>
                <select id="select race" form="new character" name="race" required>
                    <option selected disabled>Choose One</option>
                </select>
                <h3 id="subrace head" hidden>Subrace</h3>
                <select id="select subrace" form="new character" name="subrace" required hidden>
                    <option selected disabled>Choose One</option>
                </select>
                <p id="subrace desc"></p>
            </div>
            

            <div id="race info" hidden>
                <h3>Age</h3>
                <p id="age"></p>

                <h3 style="display: inline;">Size</h3>
                <p id="size" style="display: inline;"></p>
                <p id="size desc"></p>
                
                <h3>Speed</h3>
                <p id="speed"></p>

                <h3>Languages</h3>
                <p id="language desc"></p>
                <ul id="languages"></ul>
                <ul id="subrace languages"></ul>
                <p id="language number" hidden></p>
                <div id="language options" hidden></div>
                <p id="subrace language number" hidden></p>
                <div id="subrace language options" hidden></div>

                <h3>Ability Score Bonuses</h3>
                <ul id="ability bonus"></ul>
                <ul id="subrace ability bonus"></ul>

                <div id="race traits"></div>
                <div id="subrace traits"></div>

                <h3>Typical Alignment</h3>
                <p id="race alignment desc"></p>
            </div>

            <div id="alignment">
                <h2>Alignment</h2>
                <select id="select alignment" form="new character" name="alignment" required>
                    <option selected disabled>Choose One</option>
                </select>
                <p id="alignment desc"></p>
            </div>

            <div id="class">
                <h2>Class</h2>
                <select id="select class" form="new character" name="class" required>
                    <option selected disabled>Choose One</option>
                </select>
            </div>
            
            <div id="class info" hidden>
                <h3 style="display: inline;">Hit Die</h3>
                <p id="hit die" style="display: inline;"></p>
            </div>
            <div id="weapon profs info">
                <h3>Weapon/Armor Proficiencies</h3>
                <ul id="race weapon proficiencies"></ul>
                <ul id="subrace weapon proficiencies"></ul>  
                <ul id="class weapon proficiencies"></ul> 
            </div>
            

            <div id="skill profs info" hidden>
                <h3>Skill Proficiencies</h3>
                <p id="race skill proficiency number" hidden></p>
                <div id="race skill profs" hidden></div>
                <p id="subrace skill proficiency number" hidden></p>
                <div id="subrace skill profs" hidden></div>
                <p id="class skill proficiency number" hidden></p>
                <div id="class skill profs" hidden></div>
            </div>
            

            <div id="tool profs info" hidden>
                <h3>Tool Proficiencies</h3>
                <p id="race tool proficiency number" hidden></p>
                <div id="race tool profs" hidden></div>
                <p id="subrace tool proficiency number" hidden></p>
                <div id="subrace tool profs" hidden></div>
                <p id="class tool proficiency number" hidden></p>
                <div id="class tool profs" hidden></div>
            </div>
            

            <div id="inst profs info" hidden>
                <h3>Instrument Proficiencies</h3>
                <p id="race inst proficiency number" hidden></p>
                <div id="race inst profs" hidden></div>
                <p id="subrace inst proficiency number" hidden></p>
                <div id="subrace inst profs" hidden></div>
                <p id="class inst proficiency number" hidden></p>
                <div id="class inst profs" hidden></div>
            </div>
            

            <h3>Saving Throw Proficiencies</h3>
            <ul id="save proficiencies"></ul>
        </form>
        
    </body>

    <script src="/static/create_character.js"></script>
</html>